.errormodal-background {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
    animation: animate .2s linear;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.errormodal {
    background-color: var(--info-text-color);
    width: 10rem;
    padding: 20px;
    position: relative;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    text-align: center;
}

.errormodal::after {
    position: absolute;
    content: "X";
    color: white;
    font-size: large;
    width: 50px;
    height: 50px;
    left: 35%;
    top: -1.5rem;
    background-color: var(--error-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
}


.errormodal>.errormodal-header {
    font-size: large;
    font-weight: 600;
    color: var(--text-color);
    padding-block: 10px;
}

.errormodal>.errormodal-info {
    font-size: small;
    padding-block: 5px;
    font-weight: 400;
    color: #7c8594;
}

.errormodal>.errormodal-btn {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: var(--error-color);
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    color: white;
    transition: all .2s linear;
}

.errormodal>.errormodal-btn:is(:hover, :focus) {
    background-color: var(--error-color-less);
}

.errormodal>.errormodal-btn:focus {
    outline: 1px solid var(--text-color); 
}